@tailwind base;
@tailwind components;
@tailwind utilities;
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "RFDewi";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/RFDewi-Bold.woff"), url("assets/fonts/RFDewi-Bold.woff2");
}
@font-face {
  font-family: "RFDewi";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/RFDewi-Regular.woff"), url("assets/fonts/RFDewi-Regular.woff2");
}
@font-face {
  font-family: "RFDewi";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/RFDewi-Light.woff"), url("assets/fonts/RFDewi-Light.woff2");
}
html {
  overflow-x: hidden;
}

body {
  font-family: "RFDewi";
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@layer utilities {
  .noscroll {
    @apply overflow-y-hidden;
  }

  .container-vw {
    @apply max-w-[72.5vw] mx-auto max-sm:max-w-[94.444vw];
  }

  .container-vw.--xxl {
    @apply max-w-[90vw] max-sm:max-w-[94.444vw];
  }

  .button {
    @apply font-bold text-cm-desktop-16 uppercase transition-colors rounded-cm-desktop-10;
  }

  .--pink {
    @apply bg-cm-accent-pink hover:bg-cm-hover-pink text-white;
  }

  .--blue {
    @apply bg-cm-accent-blue hover:bg-cm-hover-blue text-white;
  }

  .--blur {
    @apply blur;
  }

  .stickerlike {
    @apply rotate-cm-tilt;
  }
}
@layer components {
  .body {
    @apply relative;
  }

  .overlay {
    @apply fixed w-full min-h-full z-[110] top-0 max-sm:grid max-sm:place-items-center backdrop-blur-md;
  }

  .popup {
    @apply h-fit w-fit block bg-white z-[150] fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
.land .descr {
  position: relative;
}
.land .descr::before {
  position: absolute;
  content: "";
  width: 1.875vw;
  height: 1px;
  display: inline;
  background-color: #E0E6EE;
  left: 0;
  top: 1.05vw;
  opacity: 0.6;
}

.author p {
  letter-spacing: 0;
}
.author p:first-child {
  position: relative;
}
.author p:first-child::before {
  position: absolute;
  content: "";
  width: 1.84vw;
  height: 1px;
  display: inline;
  background-color: #E0E6EE;
  left: 0;
  top: 13px;
}

.emoji {
  -webkit-filter: drop-shadow(0px 0.25vw 3.75vw rgba(66, 116, 192, 0.2));
          filter: drop-shadow(0px 0.25vw 3.75vw rgba(66, 116, 192, 0.2));
}

.tooltip-horizontal-scroll-icon_hand {
  -webkit-animation: tooltip-horizontal-scroll-icon_anim-scroll-hand 2s infinite;
          animation: tooltip-horizontal-scroll-icon_anim-scroll-hand 2s infinite;
}

.tooltip-horizontal-scroll-icon_card {
  -webkit-animation: tooltip-horizontal-scroll-icon_anim-scroll-card 2s infinite;
          animation: tooltip-horizontal-scroll-icon_anim-scroll-card 2s infinite;
}

@-webkit-keyframes tooltip-horizontal-scroll-icon_anim-scroll-hand {
  0% {
    -webkit-transform: translateX(22.22vw) scale(1);
            transform: translateX(22.22vw) scale(1);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(22.22vw) scale(1);
            transform: translateX(22.22vw) scale(1);
    opacity: 1;
  }
  20%, 60% {
    -webkit-transform: translateX(48.61vw) scale(0.6);
            transform: translateX(48.61vw) scale(0.6);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(1.39vw) scale(0.6);
            transform: translateX(1.39vw) scale(0.6);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(1.39vw) scale(0.6);
            transform: translateX(1.39vw) scale(0.6);
    opacity: 0;
  }
}

@keyframes tooltip-horizontal-scroll-icon_anim-scroll-hand {
  0% {
    -webkit-transform: translateX(22.22vw) scale(1);
            transform: translateX(22.22vw) scale(1);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(22.22vw) scale(1);
            transform: translateX(22.22vw) scale(1);
    opacity: 1;
  }
  20%, 60% {
    -webkit-transform: translateX(48.61vw) scale(0.6);
            transform: translateX(48.61vw) scale(0.6);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(1.39vw) scale(0.6);
            transform: translateX(1.39vw) scale(0.6);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(1.39vw) scale(0.6);
            transform: translateX(1.39vw) scale(0.6);
    opacity: 0;
  }
}
@-webkit-keyframes tooltip-horizontal-scroll-icon_anim-scroll-card {
  0%, 60% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  80%, to {
    -webkit-transform: translateX(-45.967vw);
            transform: translateX(-45.967vw);
  }
}
@keyframes tooltip-horizontal-scroll-icon_anim-scroll-card {
  0%, 60% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  80%, to {
    -webkit-transform: translateX(-45.967vw);
            transform: translateX(-45.967vw);
  }
}
.ping:before {
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  -webkit-animation-name: pinging;
          animation-name: pinging;
  -webkit-animation-duration: 2.25s;
          animation-duration: 2.25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes pinging {
  0%, 15% {
    opacity: 1;
  }
  45%, 65% {
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
}

@keyframes pinging {
  0%, 15% {
    opacity: 1;
  }
  45%, 65% {
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
}
.slick-list {
  overflow: visible;
}

.end button, .cookie a {
  text-decoration-thickness: 0.105vw;
  text-underline-offset: 0.3vw;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.slick-slide:not(:last-child) {
  margin-right: 2.5vw;
}

.slick-slide {
  border-radius: 0.625vw;
  -webkit-filter: drop-shadow(0 0.25vw 3.75vw rgba(0, 38, 95, 0.1));
          filter: drop-shadow(0 0.25vw 3.75vw rgba(0, 38, 95, 0.1));
}

.bg-cm-accent-blue.slick-disabled {
  background-color: #c1c1c1 !important;
}

.slick-slide:nth-last-child(2), .slick-slide:last-child {
  -webkit-filter: blur(0.375vw) drop-shadow(0px 0.25vw 3.75vw rgba(0, 38, 95, 0.1));
          filter: blur(0.375vw) drop-shadow(0px 0.25vw 3.75vw rgba(0, 38, 95, 0.1));
}

.slick-slide {
  -webkit-filter: drop-shadow(0px 0.25vw 3.75vw rgba(0, 38, 95, 0.1));
          filter: drop-shadow(0px 0.25vw 3.75vw rgba(0, 38, 95, 0.1));
}

@media only screen and (max-width: 500px) {
  .land .descr::before {
    display: none;
  }

  .slick-list::before, .slick-list::after {
    display: none;
  }

  .slick-slide:not(:last-child) {
    margin-right: unset;
  }

  .author p:first-child::before {
    display: none;
  }

  .author .stickerlike {
    -webkit-transform: rotate(-3.76deg) translateY(1.05vw) translateX(5%);
        -ms-transform: rotate(-3.76deg) translateY(1.05vw) translateX(5%);
            transform: rotate(-3.76deg) translateY(1.05vw) translateX(5%);
  }

  .slick-slide:not(:last-child) {
    margin-right: 2.222vw;
  }

  .end button, .cookie a {
    text-decoration-thickness: 0.2vw;
    text-underline-offset: 1vw;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
* {
  border: red 1px solid;
}